In [8]:
A = 64 
B = 2  

count = 0  

while A % B == 0:
    A = A // B  
    count += 1 

print("A is divisible by B", count, "times")

A is divisible by B 6 times

In [11]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    print (i)
    if i%3==0:
        print('it is divisible by 3')
    else:
        print('it is not divisible by 3')

1
it is not divisible by 3
2
it is not divisible by 3
3
it is divisible by 3
4
it is not divisible by 3
5
it is not divisible by 3
6
it is divisible by 3
7
it is not divisible by 3
8
it is not divisible by 3
9
it is divisible by 3
10
it is not divisible by 3
11
it is not divisible by 3
12
it is divisible by 3
13
it is not divisible by 3
14
it is not divisible by 3
15
it is divisible by 3
16
it is not divisible by 3
17
it is not divisible by 3
18
it is divisible by 3
19
it is not divisible by 3
20
it is not divisible by 3
21
it is divisible by 3
22
it is not divisible by 3
23
it is not divisible by 3
24
it is divisible by 3
25
it is not divisible by 3

In [13]:
# In mutable data type we can perform any type of operations like append elements, remove elements,for example list
l=[10,20,30,40,50,60]

In [31]:
l[4]=50

In [33]:
l[6]=60

[10, 20, 30, 40, 50, 60, 60]

In [36]:
l

[10, 20, 30, 40, 50, 60, 60]

In [3]:
# in immutable data type we can't perform any type of operations
a="bhumi"

In [4]:
a

'bhumi'

In [6]:
a[1]

'h'

In [7]:
a[1]=l

NameError: name 'l' is not defined