In [21]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.

In [23]:
# 1.read_csv(): This function is used to read a CSV file and create a DataFrame from it.
df = pd.read_csv('taxonomy.csv.xls')
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [24]:
# 2.dtypes:To show types of data of all columns
df.dtypes

taxonomy_id    object
name           object
parent_id      object
parent_name    object
dtype: object

In [25]:
# 3.Categorical: To show distinct categories
pd.Categorical(df['parent_id'])

[NaN, '101', '101', '101-02', '101-02', ..., '111-01', '111', '111', '111', '111']
Length: 290
Categories (60, object): ['101', '101-02', '101-06', '102', ..., '110-03', '111', '111-01', '111-01-01']

In [26]:
# 4.iloc:slicing by inbuilt index
df.iloc[0:5]

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [27]:
# 5.loc:slicing by column name
df.loc[0:5,['name',	'parent_id','parent_name']]

                      name parent_id     parent_name
0                Emergency       NaN             NaN
1        Disaster Response       101       Emergency
2           Emergency Cash       101       Emergency
3        Help Pay for Food    101-02  Emergency Cash
4  Help Pay for Healthcare    101-02  Emergency Cash
5     Help Pay for Housing    101-02  Emergency Cash

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [28]:
def reindex_dataframe(df):
    df.index = range(1, 2*len(df)+1, 2)
    return df

In [29]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [30]:
def sum_of_first_three(df):
    values_column = df['Values']
    sum_values = sum(values_column[:3])
    print("Sum of the first three values:", sum_values)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_of_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [31]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].str.split().apply(len)

df = pd.DataFrame({'Text': ['Hello, how are you?', 'I am doing great', 'Python is fun!']})
add_word_count(df)
print(df)

                  Text  Word_Count
0  Hello, how are you?           4
1     I am doing great           4
2       Python is fun!           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [32]:
"""
DataFrame.size() returns the total number of elements in the DataFrame. It is the product of the number of rows and the number of columns.

DataFrame.shape() returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.
"""

'\nDataFrame.size() returns the total number of elements in the DataFrame. It is the product of the number of rows and the number of columns.\n\nDataFrame.shape() returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.\n'

In [33]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df.size)    
print(df.shape)

9
(3, 3)

Q6. Which function of pandas do we use to read an excel file?

In [35]:
df=pd.read_excel('LUSID Excel - Setting up your market data.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [36]:
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]

df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']})
extract_username(df)
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [37]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [45]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
Mean = df.mean()
Median = df.median()
Std = df.std()
print('Mean = ',Mean)
print('Median = ',Median)
print('Standard Deviation = ',Std)

Mean =  Values    30.0
dtype: float64
Median =  Values    30.0
dtype: float64
Standard Deviation =  Values    15.811388
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [46]:
df = pd.DataFrame({'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
df

   Sales  MovingAverage
0     10           10.0
1     20           15.0
2     30           20.0
3     40           25.0
4     50           30.0
5     60           35.0
6     70           40.0
7     80           50.0
8     90           60.0
9    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [56]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
df

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [61]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']})
df1 =  df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
df1

         Date
0  2023-01-01
1  2023-01-15
2  2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [57]:
"""
The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. 
The pandas library provides data structures and data analysis tools, including the DataFrame and Series objects, as well as 
various functions for data manipulation and analysis. By importing pandas, you gain access to these basic functions and 
can start working with data using pandas
"""

'\nThe first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. \nThe pandas library provides data structures and data analysis tools, including the DataFrame and Series objects, as well as \nvarious functions for data manipulation and analysis. By importing pandas, you gain access to these basic functions and \ncan start working with data using pandas\n'